*, *:before, *:after {
	box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 80px
}

  h1{text-align: center;
  position: relative;
  padding: 0 150px}

.jukebox-header {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
	padding: 0 300px;
	background: #000;
	border-top: 1px solid #CCC;
	text-align: center;
}

.jukebox-controls-btn {
	position: relative;
	background: none;
	border: none;
	width: 65px;
	height: 65px;
	line-height: 45px;
	padding: 0;
	text-indent: -9999px;
	background-size: 35% auto;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	outline: none;
}
